%% -*- erlang -*-

{cover_enabled, false}.

{lib_dirs,["deps"]}.

{erl_opts, [debug_info]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {supstance, ".*", {git, "git://github.com/keynslug/supstance.git", "master"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git"}}
]}.
